.Details {
    display: flex;
    flex-direction: column;
    align-items: center
}

.Details p {
    font-size: 22px
}

.Details p, .Details span {
    color: var(--pure-white);
    font-weight: 400
}

.Details span {
    font-size: 40px
}