.Banner {
    align-items: center;
    justify-content: center;
    background: gray;
    height: 120px
}

.Banner h1 {
    font-size: 42px;
    color: black;
    margin-top: 40px;
    margin-left: 40px;
}